<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <allow users="DESKTOP-SB3UMDG\Shashank-PC" />
      <!--<allow roles="Administrators"/>-->
      <deny users="*" />
    </authorization>
     <identity impersonate="true" userName="Friend" password="allthebest"/> 
  </system.web>
</configuration>
